#RemainTimeBuffer {
	color: red;
	font-weight: bold;
}
#RemainTimeImage {
	vertical-align: middle;
	cursor: pointer;
	width: 22px;
	display:none;
}

.MyAddMarginPage {
	margin-top: 16px;
}
.MyAddMarginPageWithoutImage {
	margin-top: 34px;
}
.MyAddMarginPageWithImage {
	margin-top: 39px;
}